footer{
    background-color: var(--dark-crusta);
    display: flex;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 80%;
    justify-content: center;
    padding: 20px 0px 15px;
}
.footer-container p{
    font-size: 15px;
    color: var(--white);
}
.footer-container img{
    height: 50px;
    transition: 0.5s;
}
.footer-container img:hover{
    transform: translateY(1px);
}
.line{
    margin: 10px;
    width: 0px;
    height: 40px; 
    border: 1px rgb(255, 255, 255) solid;
}